@import "tailwindcss";


@theme {
  --animate-wiggle: wiggle 20s linear infinite;
  @keyframes wiggle {
    0%,
     {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
